:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.winkySans {
  font-family: "Winky Sans", sans-serif;
}

.noto-color-emoji-regular {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    #fcf4c9,
    #fee3e2,
    #fbcdf2,
    #e8befa,
    #abbfff
  );
}

h1 {
  font-size: 2.6em;
  font-family: "DynaPuff", system-ui;
  line-height: 1.1;
  /* padding: 1em; */
  background: linear-gradient(to bottom right, darkorchid, hotpink, darkorchid);
  /* background: -webkit-linear-gradient( gold, lightgreen); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "Fuzzy Bubbles", sans-serif;
}

.bodyFont {
  font-family: "Fuzzy Bubbles", sans-serif;
}

button {
  color: black;
  border: 2px solid transparent;
  padding: 0.3em 0.8em;
  font-size: 1.2em !important;
  font-weight: 700;
  width: 135px;
  background-color: cornsilk;
  cursor: pointer;
  border-color: rgb(54, 180, 54);
  border-radius: 5px !important;
  transition: border-color 0.25s, color 0.25s, transform 0.25s;
}

/* Desktop hover effect */
button:hover {
  border-color: goldenrod;
  transform: translate(2px, 2px);
}

/* Disable hover on touch devices */
@media (hover: none) and (pointer: coarse) {
  button:hover {
    border-color: initial;
    transform: none;
  }
}

button.clicked {
  border-color: goldenrod;
  color: goldenrod;
  transform: translate(2px, 2px);
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card.flip-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
/* has the symbol */
.flip-card-back {
  transform: rotateY(180deg);
  background-color: cornsilk;
  border-style: solid;
  border-width: 4px;
  border-color: gold;
  background-repeat: no-repeat;
  background-position: center;
  transition: border-color 1s, background-color 1s;
  transition-delay: 0.8s;

  position: relative;
  overflow: hidden;
}
.flip-card-back.matched {
  border-color: goldenrod;
  background-color: bisque;
}

.flip-card-front {
  /* has the card pattern */
  /* svg path generated by ChatGPT from parameters. Can edit properties directly like size and transparency */
  background-color: #8de394;
  /* background-color: pink; */
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='50'%20height='50'%3E%3Ctext%20x='0'%20y='35'%20font-size='40'%20fill='%2314532d'%20opacity='0.2'%3E%E2%AD%90%EF%B8%8F%3C/text%3E%3C/svg%3E");
  background-size: 20% 20%;
  background-repeat: repeat;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(54, 180, 54);
}

.flip-card-back::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    130deg,
    rgba(255, 215, 0, 0) 30%,
    rgba(255, 215, 0, 0.6) 50%,
    rgba(255, 215, 0, 0) 70%
  );
  transform: translateX(-100%) translateY(-100%) rotate(0deg);
  opacity: 0;
  pointer-events: none;
}

/* animate when matched */
.flip-card-back.matched::after {
  animation: shimmer 1s ease-out forwards;
  opacity: 1;
  animation-delay: 0.8s;
}

.congrats-modal {
  background: cornsilk;
  border: 2px solid transparent;
  border-color: goldenrod;
  border-radius: 5px !important;
  position: relative;
  overflow: hidden;
}

.congrats-modal::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    130deg,
    rgba(255, 215, 0, 0) 30%,
    rgba(255, 215, 0, 0.6) 50%,
    rgba(255, 215, 0, 0) 70%
  );
  transform: translateX(-100%) translateY(-100%) rotate(0deg);
  pointer-events: none;
  opacity: 0;
  animation: shimmer 2s ease-out forwards;
  animation-iteration-count: infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) translateY(-100%) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%) translateY(100%) rotate(0deg);
    opacity: 0;
  }
}

.options-border {
  border: 2px solid transparent !important;
  border-color: goldenrod !important;
  border-radius: 5px !important;
  position: relative;
  overflow: hidden;
}
.options-background {
  background: cornsilk !important;
}

.dropdown-theme {
  border: 2px solid transparent !important;
  padding: 0.3em 0.8em !important;
  font-size: 1.2em !important;
  /* font-family: "Fuzzy Bubbles", sans-serif !important; */
  font-family: "Winky Sans", sans-serif !important;
  background-color: cornsilk !important;
  border-color: rgb(54, 180, 54) !important;
  border-radius: 5px !important;
  color: black !important;
}

.emoji {
  font-family: "Noto Color Emoji", sans-serif;
}

.not-emoji {
  font-family: "Winky Sans", sans-serif;
}
